<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
</head>
<header>
        <a href="/logout">Log Out</a>
</header>
<body>
<h1><%= title %></h1>
<table id="list">
    <thead>
    <% ladies.forEach(function(l) { %>
        <th><a href="/ladies/<%= l._id %>"><%= l.name %></a></th>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td>
                <form action="/twilio" method="POST">
                    <input type=”text” name="number" id=”number” placeholder="Enter Mobile Number">
                    <button type=”button” value="Send Text" id=”button” class="button btn-primary">Remind</button>
                </form>
            </td>
        </tr>
    <% }); %>
    </tbody>
    </table>
</body>
</html>