<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
        <form id="edit-chore-form" action="/chores/<%= chores._id %>?_method=PUT" method="POST">
            <label>Chore:</label>
            <input type="text" name="chore">
            <label>Progress</label>
            <select name="progress">
                <option value="Done">Done</option>
                <option value="Will do tonight">Will do tonight</option>
                <option value="Will do by EOW">Will do by EOW</option>
            </select>
            <input type="submit" value="Edit Chore">
        </form>

</body>
</html>